position: absolute;
width: 225px;
height: 39px;
left: 1192px;
top: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;
position: absolute;
width: 225px;
height: 39px;
left: 1192px;
top: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;
position: absolute;
width: 1499px;
height: 629px;
left: 0px;
top: 300px;

background: linear-gradient(180deg, #FF0606 0%, rgba(255, 6, 6, 0) 100%);
position: absolute;
width: 1499px;
height: 137px;
left: 1441px;
top: 923px;

background: linear-gradient(180deg, #FF0606 0%, rgba(255, 6, 6, 0) 71.87%);
transform: matrix(-1, 0, 0, 1, 0, 0);